body {
	margin-top: 0px; 

}
body {
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #968D8D;
    position: fixed;
    top: 0;
    width: 100%;
}
.sections {
    margin-top: 173px;
	margin-left: 40px;
}
.check {
    margin-left: 38px;
    margin-top: -26px;
}
.sections #online-fortbildung img {
    margin-top: 0px;
    margin-right: -6px;
    margin-left: 155px;
}
.navbar img {
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #C9EBD1;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
.call-button {
    background-color: #5A483F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.call-button:hover {
    background-color: #0056b3;
}
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
	margin-left: 40px;
	
}
h1 {
    text-align: center; 
	color: #735F5D;
	font-size: 28px;
}
h2 {
    text-align: center;
}
h2 {
    color: #735F5D;
}
h3 {
    text-align: left; 
	color: #735F5D;
	font-size: 25px;
}
h4 {
    text-align: left; 
	color: #000000;
	font-size: 20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight:500;
	}
.container {
    overflow: hidden;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.text {
    overflow: hidden;
}

.contact {
    overflow: hidden;

	
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	
}

textarea[name=message] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	
}
